*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #e5e5e5;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
.cover__title{
    font-size: 2rem;
    text-align: center;
    margin: 16px 0;
}
.cover__seleccion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.select__title{
    font-size: 1.1rem;
    font-weight: 500;
}
.select__contain{
    outline: none;
    background: red;
    padding: 4px;
    border-radius: 8px;
}
.tipo{
    display: none;
}
.filtro{
    display: none;
}
.cover__check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search__product{
    outline: none;
    border: 1px solid rgb(67, 63, 63);
    border-radius: 4px;
    padding: 1px;
}
.cover__container-cards{
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
}
.card{
    cursor: pointer;
    min-width: 160px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.359) 0px 0px 0px 1.2px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    perspective: 1000px;
    transition-duration: 0.7s;
}
.card:hover{
    transform: translateY(-8px);
    transition-duration: 0.6s;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.414);
}
.card__title{
    font-size: 1.3rem;
    font-weight: 700;
    color: #1e1c1c;

}
.card__tipo{
    font-size: 1rem;
    font-weight: 500;
    /* color: var(--text-color); */

}
.card__price{
    font-size: 1rem;
    color: #1e1c1c;
}
.card__stock{
    font-size: 1rem;
    color: rgb(28, 144, 28);
}
.card__stock-red{
    font-size: 1rem;
    color: red;
}